Directums/Service References/DirectumsService/Directums.Service.Classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Directums.Service.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Directums.Service.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Directums.Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGetAccessRightsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAccessRightsResult" nillable="true" type="tns:GetAccessRightsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAccessRightsResult" nillable="true" type="tns:ArrayOfGetAccessRightsResult" />
  <xs:complexType name="GetAccessRightsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdItem" type="xs:int" />
      <xs:element minOccurs="0" name="IsUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccessRightsResult" nillable="true" type="tns:GetAccessRightsResult" />
  <xs:complexType name="GetFilePropertiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Directums.Service" minOccurs="0" name="Owner" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilePropertiesResult" nillable="true" type="tns:GetFilePropertiesResult" />
  <xs:complexType name="ArrayOfGetFileVersionsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetFileVersionsResult" nillable="true" type="tns:GetFileVersionsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetFileVersionsResult" nillable="true" type="tns:ArrayOfGetFileVersionsResult" />
  <xs:complexType name="GetFileVersionsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFileVersionsResult" nillable="true" type="tns:GetFileVersionsResult" />
  <xs:complexType name="ArrayOfGetGroupContentResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetGroupContentResult" nillable="true" type="tns:GetGroupContentResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetGroupContentResult" nillable="true" type="tns:ArrayOfGetGroupContentResult" />
  <xs:complexType name="GetGroupContentResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Users" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGroupContentResult" nillable="true" type="tns:GetGroupContentResult" />
  <xs:complexType name="ArrayOfGetMessagesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetMessagesResult" nillable="true" type="tns:GetMessagesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetMessagesResult" nillable="true" type="tns:ArrayOfGetMessagesResult" />
  <xs:complexType name="GetMessagesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NotReadCount" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMessagesResult" nillable="true" type="tns:GetMessagesResult" />
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAllUsersGroup" type="xs:int" />
      <xs:element minOccurs="0" name="IdSharedFolder" type="xs:int" />
      <xs:element minOccurs="0" name="MaxFileSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Options" nillable="true" type="tns:Options" />
  <xs:complexType name="FindUsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Directums.Service" minOccurs="0" name="Users" nillable="true" type="q3:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindUsersResult" nillable="true" type="tns:FindUsersResult" />
  <xs:complexType name="ArrayOfGetFoldersResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetFoldersResult" nillable="true" type="tns:GetFoldersResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetFoldersResult" nillable="true" type="tns:ArrayOfGetFoldersResult" />
  <xs:complexType name="GetFoldersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFile" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdParent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="tns:GetFoldersResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFoldersResult" nillable="true" type="tns:GetFoldersResult" />
  <xs:simpleType name="GetFoldersResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SharedFolder" />
      <xs:enumeration value="RootUserFolder" />
      <xs:enumeration value="Folder" />
      <xs:enumeration value="FolderRef" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetFoldersResultType" nillable="true" type="tns:GetFoldersResultType" />
  <xs:complexType name="ArrayOfGetFilesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetFilesResult" nillable="true" type="tns:GetFilesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetFilesResult" nillable="true" type="tns:ArrayOfGetFilesResult" />
  <xs:complexType name="GetFilesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFile" type="xs:int" />
      <xs:element minOccurs="0" name="IdOwner" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:GetFilesResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilesResult" nillable="true" type="tns:GetFilesResult" />
  <xs:simpleType name="GetFilesResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Folder" />
      <xs:enumeration value="FolderRef" />
      <xs:enumeration value="File" />
      <xs:enumeration value="FileRef" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetFilesResultType" nillable="true" type="tns:GetFilesResultType" />
  <xs:complexType name="ArrayOfFindGroupsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FindGroupsResult" nillable="true" type="tns:FindGroupsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFindGroupsResult" nillable="true" type="tns:ArrayOfFindGroupsResult" />
  <xs:complexType name="FindGroupsResult">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Directums.Service" minOccurs="0" name="Group" nillable="true" type="q4:Group" />
      <xs:element minOccurs="0" name="UserCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindGroupsResult" nillable="true" type="tns:FindGroupsResult" />
  <xs:complexType name="GetGroupResult">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Directums.Service" minOccurs="0" name="Group" nillable="true" type="q5:Group" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Directums.Service" minOccurs="0" name="Users" nillable="true" type="q6:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGroupResult" nillable="true" type="tns:GetGroupResult" />
</xs:schema>