Directums/Service References/DirectumsService/Directums.Service.Classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Directums.Service.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Directums.Service.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Directums.Service" />
  <xs:complexType name="FindUsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Directums.Service" minOccurs="0" name="Users" nillable="true" type="q1:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindUsersResult" nillable="true" type="tns:FindUsersResult" />
</xs:schema>