Directums/Service References/DirectumsService/Directums.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Directums.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Directums.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BornDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdRootFolder" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccessRights" nillable="true" type="tns:ArrayOfAccessRight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFile">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HistoryUsers" nillable="true" type="tns:ArrayOfHistoryUser">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Messages1" nillable="true" type="tns:ArrayOfMessage">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserGroups" nillable="true" type="tns:ArrayOfUserGroup">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAccessRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessRight" nillable="true" type="tns:AccessRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessRight" nillable="true" type="tns:ArrayOfAccessRight" />
  <xs:complexType name="AccessRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFile" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdGroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessRight" nillable="true" type="tns:AccessRight" />
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdOwner" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExtension" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccessRights" nillable="true" type="tns:ArrayOfAccessRight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FileTags" nillable="true" type="tns:ArrayOfFileTag">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FileVersions" nillable="true" type="tns:ArrayOfFileVersion">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HistoryFiles" nillable="true" type="tns:ArrayOfHistoryFile">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfFileTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileTag" nillable="true" type="tns:FileTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileTag" nillable="true" type="tns:ArrayOfFileTag" />
  <xs:complexType name="FileTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFile" type="xs:int" />
      <xs:element minOccurs="0" name="IdTag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTag" nillable="true" type="tns:FileTag" />
  <xs:complexType name="ArrayOfFileVersion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileVersion" nillable="true" type="tns:FileVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileVersion" nillable="true" type="tns:ArrayOfFileVersion" />
  <xs:complexType name="FileVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFile" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:unsignedByte" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Data" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileVersion" nillable="true" type="tns:FileVersion" />
  <xs:complexType name="ArrayOfHistoryFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryFile" nillable="true" type="tns:HistoryFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryFile" nillable="true" type="tns:ArrayOfHistoryFile" />
  <xs:complexType name="HistoryFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdFile" type="xs:int" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryFile" nillable="true" type="tns:HistoryFile" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdParent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdFile" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdItem" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Items1" nillable="true" type="tns:ArrayOfItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfHistoryUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryUser" nillable="true" type="tns:HistoryUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryUser" nillable="true" type="tns:ArrayOfHistoryUser" />
  <xs:complexType name="HistoryUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryUser" nillable="true" type="tns:HistoryUser" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUserFrom" type="xs:int" />
      <xs:element minOccurs="0" name="IdUserFor" type="xs:int" />
      <xs:element minOccurs="0" name="IdGroupFor" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Created" nillable="true" type="q2:Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroup" nillable="true" type="tns:UserGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserGroup" nillable="true" type="tns:ArrayOfUserGroup" />
  <xs:complexType name="UserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdGroup" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGroup" nillable="true" type="tns:UserGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccessRights" nillable="true" type="tns:ArrayOfAccessRight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserGroups" nillable="true" type="tns:ArrayOfUserGroup">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
</xs:schema>