Directums/Service References/DirectumsService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DirectumsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDirectumsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Directums.Service.Classes" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Directums.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Directums.Classes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDirectumsService_GetFileProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileProperties" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetFileProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateFileProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileProperties" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateFileProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UserList_InputMessage">
    <wsdl:part name="parameters" element="tns:UserList" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserListResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_IsLoginEmpty_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLoginEmpty" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_IsLoginEmpty_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLoginEmptyResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_IsEmailEmpty_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailEmpty" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_IsEmailEmpty_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailEmptyResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_FindUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsers" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_FindUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_ResetUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetUserPassword" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_ResetUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetDirs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirs" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetDirs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserStatus" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_FindGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:FindGroups" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_FindGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroup" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_IsGroupNameEmpty_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGroupNameEmpty" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_IsGroupNameEmpty_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGroupNameEmptyResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UpdateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_ChangeGroupStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGroupStatus" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_ChangeGroupStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGroupStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFile" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVersion" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_AddVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessRights" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_SetAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAccessRights" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_SetAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetTagList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagList" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_GetTagList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagListResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_SetTags_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTags" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_SetTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UserConnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserConnected" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_UserDisconnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserDisconnected" />
  </wsdl:message>
  <wsdl:message name="IDirectumsService_NewMessageReceive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewMessageReceive" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDirectumsService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFileProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetFileProperties" message="tns:IDirectumsService_GetFileProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetFilePropertiesResponse" message="tns:IDirectumsService_GetFileProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateFileProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/UpdateFileProperties" message="tns:IDirectumsService_UpdateFileProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UpdateFilePropertiesResponse" message="tns:IDirectumsService_UpdateFileProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/Connect" message="tns:IDirectumsService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/ConnectResponse" message="tns:IDirectumsService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/Disconnect" message="tns:IDirectumsService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/DisconnectResponse" message="tns:IDirectumsService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetCurrentUser" message="tns:IDirectumsService_GetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetCurrentUserResponse" message="tns:IDirectumsService_GetCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetOptions" message="tns:IDirectumsService_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetOptionsResponse" message="tns:IDirectumsService_GetOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/UserList" message="tns:IDirectumsService_UserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UserListResponse" message="tns:IDirectumsService_UserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/AddUser" message="tns:IDirectumsService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/AddUserResponse" message="tns:IDirectumsService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsLoginEmpty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/IsLoginEmpty" message="tns:IDirectumsService_IsLoginEmpty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/IsLoginEmptyResponse" message="tns:IDirectumsService_IsLoginEmpty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsEmailEmpty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/IsEmailEmpty" message="tns:IDirectumsService_IsEmailEmpty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/IsEmailEmptyResponse" message="tns:IDirectumsService_IsEmailEmpty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/AddMessage" message="tns:IDirectumsService_AddMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/FindUsers" message="tns:IDirectumsService_FindUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/FindUsersResponse" message="tns:IDirectumsService_FindUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ResetUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/ResetUserPassword" message="tns:IDirectumsService_ResetUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/ResetUserPasswordResponse" message="tns:IDirectumsService_ResetUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/UpdateUser" message="tns:IDirectumsService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UpdateUserResponse" message="tns:IDirectumsService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDirs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetDirs" message="tns:IDirectumsService_GetDirs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetDirsResponse" message="tns:IDirectumsService_GetDirs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetFiles" message="tns:IDirectumsService_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetFilesResponse" message="tns:IDirectumsService_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateUserStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/UpdateUserStatus" message="tns:IDirectumsService_UpdateUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UpdateUserStatusResponse" message="tns:IDirectumsService_UpdateUserStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/FindGroups" message="tns:IDirectumsService_FindGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/FindGroupsResponse" message="tns:IDirectumsService_FindGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetGroup" message="tns:IDirectumsService_GetGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetGroupResponse" message="tns:IDirectumsService_GetGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsGroupNameEmpty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/IsGroupNameEmpty" message="tns:IDirectumsService_IsGroupNameEmpty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/IsGroupNameEmptyResponse" message="tns:IDirectumsService_IsGroupNameEmpty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/AddGroup" message="tns:IDirectumsService_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/AddGroupResponse" message="tns:IDirectumsService_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/UpdateGroup" message="tns:IDirectumsService_UpdateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UpdateGroupResponse" message="tns:IDirectumsService_UpdateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ChangeGroupStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/ChangeGroupStatus" message="tns:IDirectumsService_ChangeGroupStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/ChangeGroupStatusResponse" message="tns:IDirectumsService_ChangeGroupStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/AddFile" message="tns:IDirectumsService_AddFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/AddFileResponse" message="tns:IDirectumsService_AddFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/AddVersion" message="tns:IDirectumsService_AddVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/AddVersionResponse" message="tns:IDirectumsService_AddVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAccessRights">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetAccessRights" message="tns:IDirectumsService_GetAccessRights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetAccessRightsResponse" message="tns:IDirectumsService_GetAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetAccessRights">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/SetAccessRights" message="tns:IDirectumsService_SetAccessRights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/SetAccessRightsResponse" message="tns:IDirectumsService_SetAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetTags" message="tns:IDirectumsService_GetTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetTagsResponse" message="tns:IDirectumsService_GetTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTagList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/GetTagList" message="tns:IDirectumsService_GetTagList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/GetTagListResponse" message="tns:IDirectumsService_GetTagList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectumsService/SetTags" message="tns:IDirectumsService_SetTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/SetTagsResponse" message="tns:IDirectumsService_SetTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserConnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UserConnected" message="tns:IDirectumsService_UserConnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserDisconnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/UserDisconnected" message="tns:IDirectumsService_UserDisconnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NewMessageReceive">
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectumsService/NewMessageReceive" message="tns:IDirectumsService_NewMessageReceive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDirectumsService" type="tns:IDirectumsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDirectumsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFileProperties">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetFileProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileProperties">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UpdateFileProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetOptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLoginEmpty">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/IsLoginEmpty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailEmpty">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/IsEmailEmpty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/AddMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FindUsers">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/FindUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirs">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetDirs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserStatus">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UpdateUserStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindGroups">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/FindGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsGroupNameEmpty">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/IsGroupNameEmpty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/AddGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UpdateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeGroupStatus">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/ChangeGroupStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/AddFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVersion">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/AddVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessRights">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetAccessRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAccessRights">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/SetAccessRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagList">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/GetTagList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTags">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/SetTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserConnected">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UserConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDisconnected">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/UserDisconnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewMessageReceive">
      <soap12:operation soapAction="http://tempuri.org/IDirectumsService/NewMessageReceive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectumsService">
    <wsdl:port name="NetTcpBinding_IDirectumsService" binding="tns:NetTcpBinding_IDirectumsService">
      <soap12:address location="net.tcp://localhost:8000/DirectumsService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/DirectumsService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>